.NavBar {
  display: flex;
  background-color: aliceblue;
  border-bottom: 4px solid rgb(113, 113, 113);
}

.NavBar h2 {
  font-size: 40px;
}
.logo {
  display: flex;
  width: 200px;
  height: 50px;
}

.navbar-links-item ul {
}

.navbar-links-item li {
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  display: inline-block;
  float: right;
}
